


.hero {
    background-image: url(./image/pexels-photo-154133.png);
}

.cotitle {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-shadow: 4px 1px 2px black;
}

.field {
    margin-top: 15px;
}

.thesub {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.thelevel {
    background-color: #76B4FE;
}

.p1 {
    font-family: 'PT Serif', serif;
    color: white;
    font-size: 18px;
}

.p2 {
    font-family: 'PT Serif', serif;
    color: black;
    font-size: 30px;
}

.slicolumn {
    margin-top: 40px;
    font-family: 'PT Serif', serif;
}

.slidecol {
    margin-top: 90px;
    font-family: 'PT Serif', serif;
    font-size: 25px;
}

.maincon{
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttoncon {
    margin-top: 130px;
    margin-bottom: 130px;
}

.maincampaign {
    margin-bottom: 20px;
}

.footer {
    background-color: #ADC0DC;
}

li {
    list-style-type: none;
}

.linksosmed {
    float: right;
}

