.hero{
    background-image: url(./image/pexels-photo-154133.png);
}

.cotitle{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    text-shadow: 4px 1px 2px black;
}

.field{
    margin-top: 15px;
}

.thesub{
    font-family: 'PT Serif', serif;
    font-size: 30px;
}
.level-item{
    background-color: #76B4FE;
}
.p1{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}

.p2{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 30px;
}

.slicolumn{
    margin-top: 40px;
}

.slidecol{
    margin-top: 90px;
    font-family:  'Roboto', sans-serif;
    font-size: 25px;
}

.maincon{
        background-image: url(./image/background.png); 
        min-height: 1200px;
}

.maincampaign{
    margin-bottom: 30px;
}



